*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'poppins',sans-serif;
}
body{
    background-color:#FFF8E7;
}
nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 8%;
    background-color:#FFD166;
}
.logo{
    color:#5A3E2B;
    font-size:32px;
}
nav ul{
    display:flex;
    list-style:none;
}
nav ul li{
    margin:0 15px;
    font-size:20px;
}
nav ul li a{
    text-decoration:none;
    color:#5A3E2B;
    font-weight:500;
}
button{
    padding:10px 22px;
    border:none;
    border-radius:25px;
    color:white;
    background-color:#5A3E2B;
    cursor:pointer;
    font-size:20px;
    transition:.3s;
}
button:hover{
    background-color:#F4A261;
    transform:scale(1.05);
}
.hero{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:70px 8%;
}
.hero-text{
    width:50%;
}
.hero-text h1{
    font-size:55px;
    color:#5A3E2B;
    line-height:1.2;
}
.hero-text{
    margin:25px 0;
    color:#6B4F3B;
    font-size:18px;
    line-height:1.7;
}
.hero-btn{
    display:flex;
    gap:20px;
}
.btn1{
    color:#5A3E2B;
    background:#FFD166;
    font-weight:bold;
}
.btn1:hover{
    background-color:#F4A261;
}
.btn2{
    font-weight:bold;
    color:#5A3E2B;
    background-color:white;
    border:2px solid #FFD166;
}
.btn2:hover{
    background-color:#FFD166;
}
.hero-img{
    display:flex;
    width:45%;
    justify-content:center;
}
.hero-img img{
    width:450px;
    max-width:100%;
    border-radius:20%;
}
.featured{
    padding:80px 8%;
    text-align:center;
}
.featured h2{
    color:#5A3E2B;
    font-size:40px;
    margin-bottom:50px;
}
.cards{
    display:flex;
    justify-content:space-between;
    gap:30px;
}
.card{
    background:white;
    border-radius:25px;
    padding:25px;
    box-shadow:0 8px 20px rgba(0,0,0,0.1);
    transition:.3s;
}
.card:hover{
    transform:translateY(-10px);
}
.card img{
    width:100%;
    border-radius:15px;
    margin-bottom:20px;
}
.card h3{
   color:#5A3E2B;
   margin-bottom:15px;
}
.card p{
    color:#777;
    margin-bottom:15px;
    line-height:1.5;
}
.card h4{
    color:#F4A261;
    margin-bottom:20px;
}
.card button{
    width:100%;
    color:#5A3E2B;
    background:#FFD166;
    font-weight:bold;
}
.card button:hover{
    background-color:#F4A261;
}
.why-us{
    background-color:#FFF8E7;
    padding:80px 8%;
    text-align:center;
}
.why-us h2{
    font-size:40px;
    color:#5A3E2B;
    margin-bottom:50px;
}
.features{
    display:flex;
    justify-content:space-between;
    gap:30px;
}
.features-box{
    background:white;
    padding:35px 25px;
    border-radius:20px;
    box-shadow:0 8px 20px rgba(0,0,0,0.1); 
    transition:0.3s;
}
.features-box:hover{
    transform:translateY(-10px);
}
.icon{
    font-size:50px;
    margin-bottom:20px;
}
.features-box h3{
    color:#666;
    line-height:1.7;
    margin-bottom:15px;
}
.review{
    padding:80px  8%;
    text-align:center;
}
.review h2{
    font-size:40px;
    color:#5A3E2B;
    margin-bottom:50px;
}
.review-container{
    display:flex;
    justify-content:space-between;
    gap:30px;
}
.review-card{
    background-color:#ffffff;
    padding:30px 25px;
    border-radius:20px;
    box-shadow:0 8px 20px rgba(0,0,0,0.1);
    transition:0.3s;
}
.review-card:hover{
    transform:translateY(-10px);
}
.review-card img{
    height:90px;
    width:90px;
    border-radius:50%;
    object-fit:cover;
    margin-bottom:15px;
    border:4px solid  #FFD166;
}
.review-card h3{
    color:#5A3E2B;
    margin-bottom:8px;
}
.stars{
    font-size:20px;
    margin-bottom:15px;
}
.review-card p{
    color:#666;
    line-height:15px;
}
.newsletter{
    background-color:#FFD166;
    padding:80px 8%;
    text-align:center;
}
.newsletter h2{
    color:#5A3E2B;
    font-size:40px;
}
.newsletter p{
    margin:20px 0 35px;
    color:#5A3E2B;
    font-size:20px;
}
.subscribe-box{
    display:flex;
    justify-content:center;
    gap:15px;
    flex-wrap:wrap;
}
.subscribe-box input{
    width:350px;
    max-width:1000px;
    padding:15px;
    border:none;
    border-radius:30px;
    outline:none;
    font-size:16px;
}
.subscribe-box button{
    color:white;
    background:#5A3E2B;
}
footer{
    color:#ffffff;
    background-color:#5A3E2B;
    text-align:center;
    padding:50px 8%;
}
footer h2{
    font-size:32px;
    margin-bottom:15px;
}
footer p{
    font-size:20px;
    color:#f5f5f5;
    margin:10px 0;
}
.social-icons{
    margin:25px 0;
    font-size:30px;
}
.social-icons a:hover{
    transform:scale(1.01);
}
.copyright{
    margin-top:25px;
    font-size:17px;
    color:#ddd;
}
@media(max-width:768px){
    nav{
        flex-direction:column;
        gap:15px;
    }
    nav ul{
        flex-direction:column;
        align-items:center;
        gap:10px;
    }
    .hero{
        flex-direction:column-reverse;
        text-align:center;
    }
    .hero-text,.hero-img{
        width:100%;
    }
    .hero-btn{
        justify-content:center;
        flex-wrap:wrap;
    }
    .cards,.features,.review-container{
        flex-direction:column;
    }
    .card,.feature-box,.review-card{
        width:100%;
    }
    .subscribe-box{
        flex-direction:column;
        align-items:center;
    }
    .subscribe-box input{
        width:100%;
    }
}